body {
  background:#121212;
  color:white;
  font-family: Arial;
}

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card {
  text-decoration:none;
  color:white;
  background:#1e1e1e;
  border-radius:12px;
  padding:10px;
  transition:0.3s;
}

.card:hover {
  transform:scale(1.05);
}

.card img {
  width:100%;
  border-radius:10px;
}
